<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aviv.konnek2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".Konnnek2"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.activity.AppSplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<meta-data-->
        <!--android:name="io.fabric.ApiKey"-->
        <!--android:value="db2959a557eb01cbc56cbd1d01ce2e6943238699"/>-->

        <activity
            android:name=".ui.activity.SignInActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.CallingTabActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MobileStoreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.TravelActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MoneyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ChatBotActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.HangoutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.CharityActivity"
            android:screenOrientation="portrait">
        </activity>


        <service android:name=".data.services.SignInQbService"/>

        <receiver android:name=".utils.AlarmReceiver"/>

        <service android:name=".data.network.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".data.network.FirebaseIDServices">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="FCM"/>
        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="@string/sender_id"/>
        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="DEVELOPMENT"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary"/>

        <activity android:name=".ui.activity.ReferFriendActivity">
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d3339e87387bfab7722609aa2e286edf39d1784f"/>
    </application>

</manifest>